.index-advantages{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  @include sm-block{
      grid-template-columns: 100%;
  }


  &__item{
    border: 1px solid var(--color-grey);
    margin-left: -1px;
    position: relative;

    &:before{
      content: '';
      display: block;
      width: 100%;
      padding-top: calc(227/640*100%);
    }
  }

  &__name{
    position: absolute;
    inset: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 128%;
    @include sm-block{
      font-size: 16px;
    }
  }
}