.index-banner
    .index-banner__title.ui-title.
        TANGIERS <br>
        LOUNGE <br>
        POKROVKA
    .index-banner__addr Москва, ул. Покровка, д.31 стр.4
    .index-banner__img
        picture
            source(srcset="images/content/index-banner/img-mobile.webp" media='(max-width: 767.98px)')
            source(srcset="images/content/index-banner/img-tablet.webp" media='(max-width: 1023.98px)')
            source(srcset="/images/content/index-banner/img.webp" media='(max-width: 1919.98px)')
            img(src="/images/content/index-banner/img.webp" alt='TANGIERS LOUNGE POKROVKA')