.index-banner
    .container
        .index-banner__title.
            TANGIERS <br>
            LOUNGE <br>
            POKROVKA
        .index-banner__sub забронируй свое вкусовое путешествие в таинственной атмосфере Особняка в центре москвы
        .index-banner__items
            -
                var data = [
                    {
                        img: '/images/content/index-banner/1.webp',
                        name: 'паназиатская<br>Авторская кухня'
                    },
                    {
                        img: '/images/content/index-banner/2.webp',
                        name: 'Ароматная дымная<br>терапия'
                    },
                    {
                        img: '/images/content/index-banner/3.webp',
                        name: 'Эксклюзивные находки<br>миксологов'
                    }
                ]
            each i in data
                .index-banner__item
                    .index-banner__img
                        img(src=i.img alt="lorem")
                    .index-banner__name!=i.name

        button(type='button' data-event="click.restoplaceBtn").index-banner__btn.ui-btn-big ЗАБРОНИРОВАТЬ СТОЛИК