.index-banner {
  padding-top: 140px;
  height: 1000px;
  --container-width: 1200px;
  --container-padding: 0;
  @include lg-block {
    padding-top: 105px;
    height: 840px;
  }
  @include md-block {
    padding-top: 115px;
    height: 780px;
  }
  @include sm-block {
    padding-top: 90px;
    height: 720px;
    --container-padding: 0 16px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 43px;
    line-height: 0.95;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    @include lg-block {
      font-size: 29px;
      margin-bottom: 40px;
    }
    @include sm-block {
      font-size: 14px;
      margin-bottom: 30px;
    }
  }

  &__sub {
    font-family: var(--font2);
    font-size: 50px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    max-width: 47ch;
    width: 100%;
    margin: 0 auto 90px;
    @include lg-block {
      font-size: 40px;
      margin-bottom: 30px;
    }
    @include md-block {
      font-size: 34px;
      margin-bottom: 55px;
    }
    @include sm-block {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }

  &__items {
    width: 100%;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    @include lg-block {
      margin-bottom: 30px;
    }
    @include md-block {
      margin-bottom: 20px;
    }
    @include sm-block {
      margin-bottom: 35px;
    }
  }

  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    @include md-block {
      max-width: 140px;
    }
    @include sm-block {
      max-width: 66px;
      margin-bottom: 12px;
    }
  }

  &__name {
    font-family: var(--font2);
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    @include md-block {
      font-size: 18px;
    }
    @include sm-block {
      font-size: 12px;
    }
  }

  &__btn {
    @include lg-block {
      font-size: 24px;
    }
    @include md-block {
      font-size: 18px;
    }
    @include sm-block{
      font-size: 16px;
    }
  }

}