extends ../src/core/main

block content
    main.page
        h1 Test page
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quam?

        - var testFunc = function(){
        -     return "Test func";
        -   }

        div #{testFunc()} worked!
        br
        br
        br
        br
        h3 Button
        br
        br
        br
        br
        +btn('btn btn-default','/',`data-id='2' data-ajax='ajax'`)