@use "sass:math";

.index-team {
  padding: 170px 0;
  @include xlg-block {
    padding: 150px 0;
  }
  @include lg-block {
    padding: 130px 0;
  }
  @include sm-block {
    padding: 50px 0;
  }

  &__title {
    text-align: center;
    margin-bottom: 30px;
    @include xlg-block {
      margin-bottom: 20px;
    }

  }

  &__top {
    position: relative;
    z-index: 2;
    @include sm-block{
      margin-bottom: 25px;
    }

  }

  &__nav {
    width: calc(math.percentage(6/12) + var(--btnSize));
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-between;
    @include xlg-block {
      width: calc(math.percentage(8/12) + var(--btnSize));
      margin-bottom: 30px;
    }
    @include md-block {
      --btnSize: 50px;
      margin-bottom: 55px;
    }
    @include sm-block {
      --btnSize: 38px;
      margin-bottom: 0;
    }
  }

  &__sub {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    text-align: center;
    position: absolute;
    inset: 0;
    @include lg-block {
      font-size: 20px;
    }
    @include sm-block {
      position: static;
      margin-bottom: 38px;
      font-size: 16px;
    }
  }

  &__swiper {
    padding-top: 200px;
    padding-bottom: 200px;
    margin: -200px 0;
    @include lg-block {
      padding-left: 20px;
      padding-right: 20px;
    }
    @include sm-block {
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
  }

  &__img {
    max-width: 480px;
    width: 100%;
    margin-bottom: 40px;
    position: relative;
    @include xlg-block {
      margin-bottom: 25px;
      max-width: 400px;
      width: 100%;
    }

    &:before {
      content: '';
      display: block;
      padding-top: calc(630 / 480 * 100%);
    }
  }

  &__blur {
    position: absolute;
    z-index: 0;
    inset: 0;
    filter: blur(100px);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__pic {
    position: absolute;
    z-index: 2;
    inset: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    margin-bottom: 10px;
    @include lg-block {
      font-size: 24px;
      margin-bottom: 7px;
    }
  }

}