.catalog {

  &__top {
    .catalog__left {
      @include lg-block {
        display: none;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 500px 1fr;
    @include xlg-block {
      grid-template-columns: 405px 1fr;
    }
    @include lg-block {
      grid-template-columns: 100%;
    }
  }

  &__title {
    margin-top: 110px;
    margin-bottom: 70px;
    @include lg-block {
      font-size: 48px;
      margin-top: 40px;
      margin-bottom: 40px;
      text-align: center;
    }
    @include md-block {
      text-align: center;
      font-size: 56px;
      margin-top: 60px;
      margin-bottom: 50px;
    }
    @include sm-block {
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 34px;
    }
  }

  &__left {
    border-right: 1px solid var(--color-grey);
    padding-left: 20px;
    padding-right: 20px;
  }

  &__right {
    margin-right: 100px;
    border-right: 1px solid var(--color-grey);
    @include xlg-block {
      margin-right: 0;
      border-right: none;
    }
  }

  &__sections {
    border-bottom: 1px solid var(--color-grey);
  }

  &__container {
    padding-left: 80px;
    padding-right: 90px;
    @include xlg-block {
      padding-left: 20px;
      padding-right: 20px;
    }
    @include sm-block {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__sub {
    margin-bottom: 60px;
    @include lg-block{
      margin-bottom: 30px;
    }
  }

  &__bottom {
    .catalog__left, .catalog__right {
      padding-bottom: 200px;
    }

    .catalog__container {
      padding-top: 145px;
      @include xlg-block {
        padding-top: 60px;
      }
      @include lg-block{
        padding-top: 30px;
      }
    }

    .catalog__left {
      @include lg-block {
        padding-bottom: 0;
      }
    }
  }


}