extends src/core/main

block variables
    - var title = 'Главная'

block content
    main.index
        //-BANNER
        section.index__section.index__banner
            .grid
                .grid__items
                    +gridItems([4, 20])
                .grid__content
                    include src/components/index-banner/index
        //-CATALOG
        section.index__section.border-bottom.border-top.index__catalog
            .grid
                .grid__items
                    +gridItems([6, 18])
                .grid__content
                    include src/components/index-catalog/index
        //-INTERIOR
        section.index__section.border-bottom.index__interior
            .grid
                .grid__items
                    +gridItems([2, 12, 22])
                .grid__content
                    include src/components/index-interior/index
        //-GALLERY
        section.index__section.border-bottom.index__gallery
            .grid
                .grid__items
                    +gridItems([4, 12, 20])
                .grid__content
                    include src/components/index-gallery/index
        //-SPECIALS
        section.index__section.border-bottom.index__specials
            .grid
                .grid__items
                    +gridItems([6, 18])
                .grid__content
                    include src/components/index-specials/index
        //-TEAM
        section.index__section.border-bottom.index__team
            .grid
                .grid__items
                    +gridItems([6, 18])
                .grid__content
                    include src/components/index-team/index
        //-BOOKING
        section.index__section.border-bottom.index__booking
            .grid
                .grid__items
                    +gridItems([2, 22])
                .grid__content
                    include src/components/index-booking/index


