extends ../src/core/main

block variables
    - var title = 'Фотогалерея'

block content
    main.photogallery
        .grid
            .grid__items
                +gridItems([4, 20])
            .grid__content
                .container
                    include ../src/components/index-gallery/index








