.popup
    div(data-event='click.popupClose').popup__overlay
    button(type='button' data-event='click.popupClose').popup__close
        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="2" y="1.70711" width="44" height="1" transform="rotate(45 2 1.70711)" fill="#DFDFDF" stroke="white"/>
        <rect x="1.70711" y="32" width="44" height="1" transform="rotate(-45 1.70711 32)" fill="#DFDFDF" stroke="white"/>
        </svg>
    .popup__wrapper
        .popup__content