template#templates
    #loyalty
        .grid
            .grid__items
                +gridItems([2,22])
            .grid__content
                .content
                    h2 ПРОГРАММА ЛОЯЛЬНОСТИ
                    p Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом. Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом.
                    p Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом. Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом.
                    ul
                        li Благодаря системе лояльности компания получает большой объём персональных данных и информацию о портрете и привычках своих покупателей. Эти данные помогают таргетировать и персонализировать предложения, подстраиваясь под запросы аудитории. Программа лояльности помогает проследить путь клиента — покупатели, которые не зарегистрированы в системе лояльности, остаются вне поля зрения ритейлера.
                        li Программы лояльности стимулируют повторные покупки. Если за покупку клиент получает бонусные баллы и другие вознаграждения, которые можно списать при следующей оплате, он с большей вероятностью вернётся в магазин. А бонусная система лояльности, в которой баллы имеют ограниченный срок действия, мотивирует совершать покупки чаще.
                        li Программы лояльности помогают повышать средний чек. Чтобы мотивировать покупателей покупать больше, компания может дарить подарки или начислять бонусы в разном количестве — в зависимости от суммы чека.
                        li Различные механики программы лояльности помогают бороться с оттоком и удерживать покупателей. К ним относятся подарки, акции, специальные предложения.
                        li Программы привилегий создают аудиторию приверженцев бренда: такие постоянные клиенты могут рекомендовать компанию и снижать затраты на привлечение новых покупателей.
    #policy
        .grid
            .grid__items
                +gridItems([2,22])
            .grid__content
                .content
                    h2 Политика конфиденциальности
                    p Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом. Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом.
                    p Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом. Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом.
                    ul
                        li Благодаря системе лояльности компания получает большой объём персональных данных и информацию о портрете и привычках своих покупателей. Эти данные помогают таргетировать и персонализировать предложения, подстраиваясь под запросы аудитории. Программа лояльности помогает проследить путь клиента — покупатели, которые не зарегистрированы в системе лояльности, остаются вне поля зрения ритейлера.
                        li Программы лояльности стимулируют повторные покупки. Если за покупку клиент получает бонусные баллы и другие вознаграждения, которые можно списать при следующей оплате, он с большей вероятностью вернётся в магазин. А бонусная система лояльности, в которой баллы имеют ограниченный срок действия, мотивирует совершать покупки чаще.
                        li Программы лояльности помогают повышать средний чек. Чтобы мотивировать покупателей покупать больше, компания может дарить подарки или начислять бонусы в разном количестве — в зависимости от суммы чека.
                        li Различные механики программы лояльности помогают бороться с оттоком и удерживать покупателей. К ним относятся подарки, акции, специальные предложения.
                        li Программы привилегий создают аудиторию приверженцев бренда: такие постоянные клиенты могут рекомендовать компанию и снижать затраты на привлечение новых покупателей.
    #how
        .grid
            .grid__items
                +gridItems([2,22])
            .grid__content
                .content
                    h2 Как добраться
                    p Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом. Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом.
                    p Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом. Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом.