.index-desc
    .index-desc__imgs
        .index-desc__img
            img(src="/images/content/index-desc/1.webp" alt="lorem")
        .index-desc__img
            img(src="/images/content/index-desc/2.webp" alt="lorem")
        .index-desc__img
            img(src="/images/content/index-desc/3.webp" alt="lorem")
        .index-desc__img
            img(src="/images/content/index-desc/4.webp" alt="lorem")
        .index-desc__img
            img(src="/images/content/index-desc/5.webp" alt="lorem")

    .index-desc__wrap
        .index-desc__text.ui-h2.
            Место <br>
            для всех, кто ищет <br>
            нетривиальный ресторан, <br>
            готов оценить авторские <br>
            находки миксологов <br>
            И погрузиться в атмосферу <br>
            модного заведения для <br>
            особенных гостей
        a(href="#").ui-btn-big.index-desc__btn Забронировать столик
