header.header
    .header__logo
        a(href="/")
            img(src="/images/content/logo.svg" alt="lorem")
    .header__name POKROVKA
    .header__addr
        a(href="/contacts/").ui-link2 Москва, ул. Покровка, д.31 стр.4
    .header__btn-menu
        button(type='button' data-event='click.openMenu')
    .header__tel
        a(href=GLOBALS.tel.href)= GLOBALS.tel.val
    .header__map
        a(href="/contacts/") как добраться
    .header__call
        a(href="#") забронировать онлайн

