.index-catalog
    .index-catalog__title.ui-h2 Меню
    .index-catalog__list
        each i,x in ['дымное меню','Авторская кухня','Барная карта']
            a(href="/catalog/").index-catalog__item
                span.index-catalog__img
                    span.index-catalog__blur
                        img(src="/images/content/index-catalog/" + (x + 1) + ".webp" alt=i)
                    span.index-catalog__pic
                        img(src="/images/content/index-catalog/" + (x + 1) + ".webp" alt=i)
                span.index-catalog__name= i