
<div class="index-catalog">
  <div class="index-catalog__title ui-h2">Меню</div>
  <div class="index-catalog__list">
    <div class="index-catalog__item">
      <div class="index-catalog__img">
        <div class="index-catalog__blur"><img src="/images/content/index-catalog/1.webp" alt="дымное меню"/></div><img src="/images/content/index-catalog/1.webp" alt="дымное меню"/>
      </div>
      <div class="index-catalog__name">дымное меню</div>
    </div>
    <div class="index-catalog__item">
      <div class="index-catalog__img">
        <div class="index-catalog__blur"><img src="/images/content/index-catalog/2.webp" alt="Авторская кухня"/></div><img src="/images/content/index-catalog/2.webp" alt="Авторская кухня"/>
      </div>
      <div class="index-catalog__name">Авторская кухня</div>
    </div>
    <div class="index-catalog__item">
      <div class="index-catalog__img">
        <div class="index-catalog__blur"><img src="/images/content/index-catalog/3.webp" alt="Барная карта"/></div><img src="/images/content/index-catalog/3.webp" alt="Барная карта"/>
      </div>
      <div class="index-catalog__name">Барная карта</div>
    </div>
  </div><a class="index-catalog__link ui-btn-big" href="/catalog/">Открыть меню</a>
</div>