.index-catalog {
  width: 100%;
  max-width: 1285px;
  margin: 0 auto;
  padding: 185px 20px;
  display: flex;
  flex-direction: column;
  @include xlg-block {
    padding: 150px 20px;
  }
  @include lg-block {
    padding: 100px 30px;
  }
  @include md-block {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include sm-block{
    padding-top: 75px;
    padding-bottom: 75px;
  }


  &__title {
    text-align: center;
    margin-bottom: 60px;
    @include lg-block {
      margin-bottom: 40px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;

    @include xlg-block {
      margin-bottom: 50px;
    }
    @include md-block{
      margin-bottom: 30px;
    }
    @include sm-block{
      justify-content: center;
      margin-bottom: 40px;
      gap: 50px;
    }
  }

  &__item {
    --scale: 1;
    display: block;
    width: 296px;
    @include md-block{
      width: 229px;
    }
    @include sm-block{
      width: 296px;
    }

    &:hover {
      --scale: 1.05;
    }
  }

  &__img {
    display: block;
    position: relative;
    margin-bottom: 45px;
    @include md-block{
      margin-bottom: 20px;
    }
    @include sm-block{
      margin-bottom: 40px;
    }

    &:before {
      content: '';
      display: block;
      padding-top: calc(395 / 296 * 100%);
    }
  }

  &__name {
    display: block;
    text-align: center;
  }

  &__pic {
    display: block;
    position: absolute;
    z-index: 2;
    inset: 0;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(var(--scale));
      transition: var(--transition);
    }

  }

  &__blur {
    display: block;
    position: absolute;
    z-index: 1;
    inset: 0;
    filter: blur(75px);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__link {
    align-self: center;
  }
}