@font-face {
  font-family: 'FuturaBookC';
  src: local('FuturaBookC Regular'), local('FuturaBookC'),
  url('../fonts/FuturaBookC.woff2') format('woff2'),
  url('../fonts/FuturaBookC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panama';
  src: local('Panama Regular'), local('Panama-Regular'),
  url('../fonts/Panama-Regular.woff2') format('woff2'),
  url('../fonts/Panama-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}