:root{
  --font: 'FuturaBookC', sans-serif;
  --font2: 'Panama', sans-serif;
  --font-size: 16px;
  --font-weight: 400;
  --line-height: 1.42;

  --container-width: 100%;
  --container-padding: 0 20px;

  --color-txt: #DFDFDF;
  --color-bg: #0D0D0D;
  --color-black: #000000;
  --color-black-light: #0D0D0D;
  --color-grey: #454545;
  --color-white: #FFFFFF;

  --transition: 0.4s;

  --btnSize: 92px;
  @media (max-width: 1439.98px){
    --btnSize: 50px;
  }
  @media (max-width: 1023.98px){
    --btnSize: 38px;
  }
}