footer.footer
    .container
            .footer__top
                .footer__logo
                    a(href="#")
                        img(src="/images/content/logo.svg" alt="lorem")
                    p.ui-txt Tangiers Lounge Pokrovka — место для всех, кто ищет нетривиальный ресторан, готов оценить авторские находки миксологов и погрузиться в атмосферу модного заведения для особенных гостей.
                .footer__menu
                    .footer__menu-items
                        .footer-menu
                            each i in GLOBALS.menu
                                a(href=i.href).footer-menu__item.ui-link.ui-txt= i.name
                    .footer__menu-items
                        .footer-menu
                            a(href='/').footer-menu__item.ui-link.ui-txt Вконтакте
                            a(href='/').footer-menu__item.ui-link.ui-txt Телеграм

                .footer__contacts
                    .footer__contact.ui-txt
                        a(href="/contacts/").ui-link= GLOBALS.addr
                    .footer__contact.ui-txt!=GLOBALS.workTime
                    .footer__contact.ui-txt
                        a(href=GLOBALS.tel.href).ui-link= GLOBALS.tel.val
                .footer__btns
                    .footer__btn
                        a(href="/contacts/").ui-btn-small Как добраться
                    .footer__btn
                        button(type='button' data-event='click.templateOpen' data-name='loyalty').ui-btn-fill Программа лояльности

            .footer__bottom
                .footer__copy © 2023 Tangiers Lounge Pokrovka
                .footer__policy
                    button(type='button' data-event='click.templateOpen' data-name='policy').ui-txt-link1.ui-link Политика конфиденциальности
                .footer__socials
                    a(href="#").ui-link.ui-txt
                        <svg width="35" height="34" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25.1341 8.35417C22.9704 6.19792 20.0854 5 17.0401 5C10.7091 5 5.58014 10.1111 5.58014 16.4201C5.58014 18.4167 6.14111 20.4132 7.10279 22.0903L5.5 28L11.5906 26.4028C13.2735 27.2812 15.1167 27.7604 17.0401 27.7604C23.3711 27.7604 28.5 22.6493 28.5 16.3403C28.4199 13.3854 27.2979 10.5104 25.1341 8.35417ZM22.5697 20.4931C22.3293 21.1319 21.2073 21.7708 20.6463 21.8507C20.1655 21.9306 19.5244 21.9306 18.8833 21.7708C18.4826 21.6111 17.9216 21.4514 17.2805 21.1319C14.3955 19.934 12.5523 17.059 12.392 16.8194C12.2317 16.6597 11.1899 15.3021 11.1899 13.8646C11.1899 12.4271 11.9111 11.7882 12.1516 11.4687C12.392 11.1493 12.7125 11.1493 12.953 11.1493C13.1132 11.1493 13.3537 11.1493 13.5139 11.1493C13.6742 11.1493 13.9146 11.0694 14.1551 11.6285C14.3955 12.1875 14.9564 13.625 15.0366 13.7049C15.1167 13.8646 15.1167 14.0243 15.0366 14.184C14.9564 14.3438 14.8763 14.5035 14.716 14.6632C14.5557 14.8229 14.3955 15.0625 14.3153 15.1424C14.155 15.3021 13.9948 15.4618 14.1551 15.7014C14.3153 16.0208 14.8763 16.8993 15.7578 17.6979C16.8798 18.6562 17.7613 18.9757 18.0819 19.1354C18.4024 19.2951 18.5627 19.2153 18.723 19.0556C18.8833 18.8958 19.4443 18.2569 19.6045 17.9375C19.7648 17.6181 20.0052 17.6979 20.2456 17.7778C20.4861 17.8576 21.9286 18.5764 22.169 18.7361C22.4895 18.8958 22.6498 18.9757 22.73 19.0556C22.8101 19.2951 22.8101 19.8542 22.5697 20.4931Z" fill="#37383E"/>
                        </svg>
                        |WhatsApp
                    a(href="#").ui-link.ui-txt
                        <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.15897 7.51005C5.79443 8.87458 5.79443 11.0708 5.79443 15.4632V16.2396C5.79443 20.632 5.79443 22.8282 7.15897 24.1927C8.52351 25.5573 10.7197 25.5573 15.1121 25.5573H15.8885C20.2809 25.5573 22.4771 25.5573 23.8417 24.1927C25.2062 22.8282 25.2062 20.632 25.2062 16.2396V15.4632C25.2062 11.0708 25.2062 8.87458 23.8417 7.51005C22.4771 6.14551 20.2809 6.14551 15.8885 6.14551H15.1121C10.7197 6.14551 8.52351 6.14551 7.15897 7.51005ZM8.78088 12.1184C8.89 17.2482 11.5089 20.3311 16.1005 20.3311H16.3608V17.3962C18.048 17.5606 19.3238 18.7691 19.8358 20.3311H22.2198C21.5651 17.9963 19.8442 16.7057 18.7697 16.2124C19.8442 15.6041 21.3551 14.1243 21.7161 12.1184H19.5504C19.0803 13.7461 17.687 15.2259 16.3608 15.3656V12.1184H14.195V17.8073C12.852 17.4784 11.1564 15.8836 11.0809 12.1184H8.78088Z" fill="#C8C8C8"/>
                        </svg>
                        |Вконтакте
                    a(href="#").ui-link.ui-txt
                        <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.7887 18.3737L11.4435 23.5523C11.9507 23.5523 12.1747 23.32 12.4578 23.0444L14.8943 20.6716L19.9633 24.4223C20.8961 24.9378 21.5694 24.6709 21.8018 23.5549L25.1294 7.85046C25.4701 6.48251 24.6087 5.86207 23.7163 6.26784L4.17668 13.8135C2.84291 14.3493 2.85069 15.0945 3.93356 15.4266L8.94787 16.994L20.5565 9.65924C21.1045 9.32642 21.6075 9.50535 21.1947 9.87228L11.7884 18.3735L11.7887 18.3737Z" fill="#C8C8C8"/>
                        </svg>
                        |Телеграм
