-
    var GLOBALS = {
        menu: [
            {
                href: '/catalog/',
                name: 'Меню',
            },
            {
                href: '/news/',
                name: 'События'
            },
            {
                href: '/gallery/',
                name: 'Фотогалерея'
            },

            {
                href: '/contacts/',
                name: 'Контакты'
            }
        ],
        tel: {
            href: 'tel:8(925)5-900-900',
            val: '8 (925) 5-900-900'
        },
        addr: 'Москва, ул. Покровка, д. 31 стр. 4',
        workTime: 'Вс - Чт с 12:00 до 2:00<br>Пт - Сб с 12:00 до 4:00'
    };