.special
    .grid
        .grid__items
            +gridItems([2,22])
        .grid__content
            .special__container
                .special__title.ui-card-h1 Lorem ipsum
                .special__sub.ui-txt При первом посещении получите карту лояльности
                .special__img
                    img(src="/images/content/index-specials/1.webp" alt="lorem")
                .special__content
                    h2 Его можно использовать для отображения образца шрифтов, создания текста для тестирования
                    div.columns
                        div
                            p Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом. Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом.
                        div
                            p Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом. Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом.
                    p Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом. Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом.
                .special__content
                    include ../special-card/index
                .special__title2 Забронировать онлайн
                .special__sub2.
                    Выберите уютный столик <br> на двоих или на компанию онлайн
                a(href="#").special__link.ui-btn-big ЗАБРОНИРОВАТЬ СТОЛИК