.news {

  &__container {
    padding-top: 90px;
    padding-bottom: 375px;
    @include lg-block {
      padding-bottom: 135px;
    }
    @include md-block {
      padding-top: 60px;
      padding-bottom: 110px;
    }
    @include sm-block{
      padding-bottom: 90px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 86px;
    @include lg-block {
      margin-bottom: 50px;
    }
    @include md-block {
      font-size: 56px;
    }
    @include sm-block{
      font-size: 34px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 75px 40px;
    @include md-block{
        gap: 60px 40px;
    }
  }

  &__item {
    width: 523px;
    cursor: pointer;
    transition: color var(--transition);
    @include xlg-block {
      width: 426px;
    }
    @include md-block {
      width: 343px;
    }

    &:hover {
      color: var(--color-white);

      img {
        transform: scale(1.05);
      }
    }
  }

  &__date {
    font-family: var(--font2);
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
    @include md-block {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  &__img {
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    @include md-block {
      margin-bottom: 10px;
    }

    &:before {
      content: '';
      display: block;
      padding-top: calc(386 / 523 * 100%);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform var(--transition);
    }
  }

  &__name {
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 15px;
    @include md-block {
      margin-bottom: 10px;
    }
  }

  &__desc {
    font-size: 20px;
    line-height: 120%;
    @include md-block {
      font-size: 16px;
    }
  }
}