.new
    .grid
        .grid__items
            +gridItems([2,22])
        .grid__content
            .new__container
                .new__date 26 января 2023
                .new__title открытие tangiers lounge pokrovka
                .new__sub Интерьер сочетает в себе англИйскую классику и гранж
                .new__img
                    img(src="/images/content/index-interior/img-1.webp" alt="lorem")
                .new__title2 Его можно использовать для отображения образца шрифтов, создания текста для тестирования
                .new__grid
                    .new__left
                        img(src="/images/content/new/img-1.webp" alt="lorem")
                        p Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом. Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом.
                    .new__right
                        h4 Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом.
                        p Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом.
                        img(src="/images/content/new/img-2.webp" alt="lorem")
                .new__img2
                    img(src="/images/content/index-interior/img-1.webp" alt="lorem")
                .new__grid
                    .new__left
                        p Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом. Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом.
                    .new__right
                        p Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом. Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом.
