extends ../src/core/main

block variables
    - var title = 'UI'


block content
    main.page
        .container
            .ui
                .ui__section
                    .ui-title Large Title
                .ui__section
                    .ui-sub1 subtitle - 82 px
                    .ui-sub2 subtitle - 54 px
                    .ui-sub3 subtitle - 34 px
                    .ui-sub4 subtitle - 24 px
                    .ui-sub5 subtitle - 20 px
                .ui__section
                    .ui-h1 heading 1 - 82 px
                    .ui-h2 heading 2 - 82 px
                    .ui-h3 heading 3 - 64 px
                    .ui-h4 heading 4 - 50 px
                .ui__section
                    .ui-card-h1 card title 48 px
                    .ui-card-h2 card title 34 px
                    .ui-card-h3 card title 24 px
                .ui__section
                    .ui-num1 Numeric - 96 px
                    .ui-num2 Numeric - 70 px
                    .ui-num3 Numeric - 46 px
                .ui__section
                    .ui-txt Text 20 px
                    .ui-txt-big Text 25 px
                    .ui-txt-link1 link 20 px
                    .ui-txt-link2 link 16 px
                .ui__section
                    .ui-btn-big Забронировать столик
                    .ui-btn-small Как добраться
                    .ui-btn-fill Как добраться
                .ui__section
                    a(href="#").ui-link.ui-txt-link2 Политика конфиденциальности
                    a(href="#").ui-link Вконтакте
                .ui__section
                    .ui-arrow-left
                    .ui-arrow-right

