.index-booking
    .index-booking__words.ui-title.
        TANGIERS <br>
        LOUNGE <br>
        POKROVKA
    .index-booking__wrap
        .index-booking__title.ui-h2 Забронировать онлайн
        .index-booking__sub.ui-sub3 Выберите уютный столик на двоих или на компанию онлайн
        a(href="#").index-booking__btn.ui-btn-big Забронировать столик
